 @import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary: #69B591;
    /*--startingloadercolor: 52, 100, 115;*/
    --whitecolor: #fff;
    --blackfontcolor: #131313;
    --RobotoBold: "Roboto Bold";
    --RobotoMedium: "Roboto Medium";
}
body{
    margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
 .navigation {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    z-index: 99999;
}
 .brand {
     /*position: absolute;*/
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 20px;
     /*float: left;*/
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}
 .brand a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
}
 .nav-container {
     /*max-width: 1000px;*/
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;

}
 nav ul li {
     position: relative;
     display: inline-block;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     text-decoration: none;
}
 nav ul li a{
     padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     color: var(--primary);
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart{
      padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    /*border-radius: 5px;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}
.search-icon{
    padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    /*border-radius: 5px;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}
.hero-section{
    width: 100%;
    /*height: 90%;*/
    background: #D9E7E8;
    padding:10px 0 0 0 ;
    margin-top: 75px;

}
.main-color{
    color: var(--primary);
}
.info{
    /*margin-left: 8%;*/
    margin-top: 20%;
}
.info h1{
    font-size: 65px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-weight: 800;
}
.name{
    color: #ff4321;
}
.info p{
   color: var(--blackfontcolor);
    line-height: 25px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}
.info a{
    background: var(--primary);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.info a:hover{
color: var(--primary);
}
.img-box{
    width: 100%;
    height: 90vh;
  background: url('assets/img/slider-bg.png');
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: top; center;

}
.img-box img{
   width: 100%;
}
.cta-button a{
        display: inline-block;
    padding: 12px 45px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
    text-decoration: none;
}
.cta-button a:hover{
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.layout_padding{
    padding: 70px 0 40px;
}
.main-title h1{
        position: relative;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
.why-shop .box-outer{
        text-align: center;
    margin-top: 45px;
    background-color: #002c3e;
    padding: 45px 50px;
    border-radius: 5px;
    color: #ffffff;
}
.why-shop .image-box{
        margin-bottom: 15px
}
.why-shop .image-box img{
    width: 75px;
}
.why-shop .information .about-title{
    font-size: 21px;
    font-weight: 700;
}
.why-shop .information p{
font-weight: 200;
}
.product-box{
   -webkit-box-shadow: -1px 0px 15px -4px rgba(158,158,158,1);
-moz-box-shadow: -1px 0px 15px -4px rgba(158,158,158,1);
box-shadow: -1px 0px 15px -4px rgba(158,158,158,1);
padding: 10px;
position: relative;
border-radius: 20px;
}
.product-image img{
    width: 100%;
    border-radius: 20px;
}
.company-name{
        font-size: 12px;
    color: darkgrey;
}
.product-name{
    font-size: 17px;
    color: var(--primary);
    font-weight: 700;
}
.stars{
display: flex;
margin: 6px 0;
}
.stars img{
    padding-right: 4px;
}
.add-to-cart{
    color: var(--primary);
}
.product-price{
    font-size: 18px;
    color: var(--primary);
    font-weight: 800;
}

.main-title:after{
        content: '';
    height: 6px;
    background: var(--primary);
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 11px;
}
.nav.nav-tabs{
   justify-content: center;
    border: none;
    font-size: 17px;
    margin: 20px 0 55px;
    font-weight: 500;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--primary)!important;
    border: none!important;
    border-bottom: 2px solid var(--primary)!important;
    font
}
.nav-tabs .nav-link{
    color: var(--blackfontcolor)!important;
    border: none!important;
    margin-right: 15px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    /*border: none!important;*/
    outline: none!important;
}
.news-background{
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.73)),url('assets/img/cta-bg.jpeg');
     width: 100%;
    /*height: 90vh;*/
    height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  position: relative;
}
.news-background .offer-info{
    text-align: center;
    color: #fff;
}
.primary-color{
    color: var(--primary);
}
.offer-info p{
    font-weight: 600;
}
.news-text{
    font-size: 40px;
    font-weight: 800;
}
.news-background{
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-blog .card{
     border-radius: 0;
    border: 0;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 55%), 0 2px 6px 0 rgb(206 206 238 / 44%);
}
.light-color{
    color: #797979;
}
.letter{
   background: #071F40;
    padding: 50px 0;
    color: #fff;
}
.letter input{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 5px 25px;
    background-color: #ffffff;
    margin-top: 15px;
    text-align: left;
}
.letter h1{
    font-size: 35px;
    font-weight: 700;
}
.letter p{
    color: #596B84;
    font-weight: 600;
}
.offer-color{
    color: #C29254;
}
.cta-button-news{
           position: absolute;
    top: 15px;
    right: 12px;
}
.cta-button-news a{
        display: inline-block;
    padding: 13px 45px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0px 8px 8px 0;
    line-height: 32px;
}
.cta-button-news a:hover{
    color: #fff;
}
.logo-footer{
    margin-bottom: 35px;
}
.footer-info p{
    margin-bottom: 1.2rem;
    line-height: 25px;
    font-size: 15px;
}
.widget_menu{
    float: left;
    width: 100%;
}
.widget_menu h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}
.widget_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget_menu ul li {
    float: left;
    width: 100%;
}
.widget_menu ul li a {
    font-size: 15px;
    color: #000;
    margin-bottom: 0;
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: none;
}
.install-detail{
    float: left;
    width: 100%;
}
.install-detail h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}
.install-detail p{
    font-size: 15px;
    color: #000;
    margin-bottom: 0;
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: none;
}
.platform{
   border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 2px;
}
.platform img{
    width: 100%;
}
/*.cpy_{
    background: #222;
    text-align: center;
    padding: 20px 0;
}*/
.cpy_ p {
    margin: 0;
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    /*color: #000;*/
}
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }
     nav {
         width: 100%;
         padding: 55px 0 15px;
    }
     nav ul {
         display: none;
    }
     nav ul li {
         float: none;
    }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
         /*background: #262626;*/
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}
 @media screen and (min-width:800px) {
     .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
 