 @import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary: #69B591;
    /*--startingloadercolor: 52, 100, 115;*/
    --whitecolor: #fff;
    --blackfontcolor: #131313;
    --RobotoBold: "Roboto Bold";
    --RobotoMedium: "Roboto Medium";
}
body{
    margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     overflow-x: hidden!important;
}
a {
    text-decoration: none;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 1px 10px 0px #aaa;
    position: fixed!important;
    width: 100%;
    background: #fff;
    color: #000;
    /*opacity: 0.85;*/
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    /*padding: 5px 20px;*/
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.navbar a:hover{
    color: #117964;
}
.navbar .active {
    color: #117964;
}
@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 25px;
        width: 33px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        width: 220px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px!important;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        /*top: 10px;*/
        left: 70px;
        font-size: 2.5rem;
        /*padding: ;*/
    }
    .logo img{
        width: 100px!important;
    }


    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        /*display: none;*/
    }
}
 /*.navigation {
    
    display: block;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 5px;
    z-index: 99999;
}

 .brand {
  
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 20px;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}

 .brand a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
}

.brand img{
    width: 115px;
}

 .nav-container {
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
}

 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;

}
 nav ul li {
     position: relative;
     display: inline-block;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     text-decoration: none;
}
 nav ul li a{
     padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    font-size: 15px;
}
nav ul li a.active{
    color: var(--primary);
}
 nav ul li a:hover, nav ul li a:visited:hover {
     color: var(--primary);
}
}
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}*/
.search-box{
    position: absolute;
    right: -100%;
   
    width: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}
.search-box.active{
    right: 0;
}
.search-box input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.2em;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}

.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart{
      padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    /*border-radius: 5px;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    cursor: pointer;
}
.search-icon{
    padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    /*border-radius: 5px;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    cursor: pointer;
    position: static;
    transition: 0.5s all;
}
.search-icon.active{
    position: relative;
}
.close-btn{
    opacity: 0;
    visibility: hidden;
    scale: 0;
    cursor: pointer;
}
.close-btn.active{
     opacity: 1;
    visibility: visible;
    scale: 1;
}
.login-icon{
    font-size: 20px;
     padding: 5px 20px;
    color: #131313;
    text-align: center;
    text-transform: uppercase;
    /*border-radius: 5px;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    cursor: pointer;
}
.login-image-left{
    background: url('assets/img/3.png');
}
/*account page*/

.account-page{
    margin-bottom: 40px;
}
.form-container{
    background: #fff;
    /*width: 300px;*/
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.boadytext4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.login-title{
        font-size: 36px;
    line-height: 19px;
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
}
.login-register-popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: var(--blackfontcolor);
    z-index: 100;
    display: none;
    z-index: 99999;
    color: white;
}
.login-register-popup-left {
    background: url(assets/img/b4.jpg)no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.login-register-popup-right-inner {
    position: relative;
    width: 100%;
}
.login-register-popup-right {
    height: 100vh;
    display: flex;
    width: 320px;
    MIN-WIDTH: 320px;
    align-items: center;
    margin: 0 auto;
    float: none;
    justify-content: center;
}
.login-register-popup-right-logo img {
    height: 70px;
    width: auto;
    margin: 0 auto;
    float: none;
    display: block;
}
.omrs-input-underlined{width: 100%;     position: relative;}

.omrs-input-underlined > input,
.omrs-input-filled > input {
    border: none;
        border-bottom: 0.125rem solid #F0EFF4;
    width: 100%;
    height: 62px;
    font-size: 16px;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 1.4rem;
    padding-bottom: 0.5rem;
    background: rgba(127, 131, 134, 0.1);
    color: rgb(127 131 134 / 84%);
}
.highlight-primary{color: var(--primary)!important;}


.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
    outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    line-height: 147.6%;
    transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
    position: absolute;
    top: 0.9375rem;
    right: 0.875rem;
    fill: var(--whitecolor);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--whitecolor);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
}
.otperrormssg{
    color:red;
}

.errormessage,
.omrs-input-underlined > .omrs-input-helper{
    color: red;
    margin-top: 10px;
    letter-spacing: 0.0275rem;
    margin: 0.125rem ;
   /*  display: block;
    margin-left: 13px; */
}
.loginmessagebox{
       /*  min-height: 20px;
    margin: 30px 0;
    display: block; */
    }
.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
    top: 0;
    /*font-size: 1.5rem;*/
    margin-bottom: 32px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
    color: var(--primary);
}

.omrs-input-label{   }
.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
    border-color: var(--primary);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
    /*fill: var(--omrs-color-ink-high-contrast);*/
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
    background: var(--omrs-color-bg-low-contrast);
    cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
    color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
    fill: var(--omrs-color-ink-low-contrast);
}
.social-login {
    text-align: center;
}
.social-login button {
    outline: none;
    border: none;
    margin: 5px 0;
    padding: 0;
}
.social-login .social-login-img-fb {
    background-image: url(assets/img/social-login-fb.png);
    background-position: 0px 0px;
    background-size: 741px 35px;
    width: 247px;
    height: 35px;
    line-height: 35px;
    background-repeat: no-repeat;
    position: static;
}
.social-login .social-login-img-twt {
    background-image: url(assets/img/social-login-glg.png);
    background-position: -247px 0px;
    background-size: 741px 35px;
    width: 247px;
    height: 35px;
    line-height: 35px;
    background-repeat: no-repeat;
    position: static;
}
.social-login .social-login-img-glg {
    background-image: url(assets/img/social-login-twt.png);
    background-position: -494px 0px;
    background-size: 741px 35px;
    width: 247px;
    height: 35px;
    line-height: 35px;
    background-repeat: no-repeat;
    position: static;
}
.close-login-register-popup {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: #303334;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 2px 3px #00000087;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container form{
    max-width: 300px;
    padding: 0 02px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#loginform{
    left: -300px;
    padding: 0px 15px;
}
#regform{
    left: 0;
    padding: 0px 15px;
}
form a{
    font-size: 12px;
}
#indicator{
    width: 100px;
    border: none;
    background: var(--primary);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
/*account page*/
.hero-section{
    width: 100%;
    /*height: 90%;*/
    background: #D9E7E8;
    padding:80px 0 0 0 ;
    /*margin-top: 75px;*/

}
.main-color{
    color: var(--primary);
}
.info{
    /*margin-left: 8%;*/
    margin-top: 20%;
}
.info h1{
    font-size: 65px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-weight: 800;
}
.name{
    color: #ff4321;
}
.info p{
   color: var(--blackfontcolor);
    line-height: 25px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}
.info a{
    background: var(--primary);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.info a:hover{
color: var(--primary);
}
.img-box{
    width: 100%;
    height: 90vh;
  background: url('assets/img/slider-bg.png');
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: top; center;

}
.img-box img{
   width: 100%;
}
.cta-button a{
        display: inline-block;
    padding: 12px 45px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
    text-decoration: none;
}
.cta-button a:hover{
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.layout_padding{
    padding: 70px 0 40px;
}
.main-title h1{
        position: relative;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
.main-title-page{
        background: var(--primary);
    padding: 60px;
    color: #fff;
    padding-top: 135px;
}
.main-title-page h1{
        position: relative;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
.why-shop .box-outer{
        text-align: center;
    margin-top: 45px;
    background-color: #002c3e;
    padding: 45px 50px;
    border-radius: 5px;
    color: #ffffff;
}
.why-shop .image-box{
        margin-bottom: 15px
}
.why-shop .image-box img{
    width: 75px;
}
.why-shop .information .about-title{
    font-size: 21px;
    font-weight: 700;
}
.why-shop .information p{
font-weight: 200;
}
.product-box{
    cursor: pointer;
   -webkit-box-shadow: -1px 0px 15px -4px rgba(158,158,158,1);
-moz-box-shadow: -1px 0px 15px -4px rgba(158,158,158,1);
box-shadow: -1px 0px 15px -4px rgba(158,158,158,1);
padding: 10px;
position: relative;
border-radius: 20px;
}
.product-image img{
    width: 100%;
    border-radius: 20px;
}
.company-name{
        font-size: 12px;
    color: darkgrey;
}
.product-name{
    font-size: 17px;
    color: var(--primary);
    font-weight: 700;
}
.stars{
display: flex;
margin: 6px 0;
}
.stars img{
    padding-right: 4px;
}
.add-to-cart{
    color: var(--primary);
}
.product-price{
    font-size: 18px;
    color: var(--primary);
    font-weight: 800;
}

.main-title:after{
        content: '';
    height: 6px;
    background: var(--primary);
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 11px;
}
.nav.nav-tabs{
   justify-content: center;
    border: none;
    font-size: 17px;
    margin: 20px 0 55px;
    font-weight: 500;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--primary)!important;
    border: none!important;
    border-bottom: 2px solid var(--primary)!important;
    font
}
.nav-tabs .nav-link{
    color: var(--blackfontcolor)!important;
    border: none!important;
    margin-right: 15px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    /*border: none!important;*/
    outline: none!important;
}
.news-background{
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.73)),url('assets/img/cta-bg.jpeg');
     width: 100%;
    /*height: 90vh;*/
    height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  position: relative;
}
.news-background .offer-info{
    text-align: center;
    color: #fff;
}
.primary-color{
    color: var(--primary);
}
.offer-info p{
    font-weight: 600;
}
.news-text{
    font-size: 40px;
    font-weight: 800;
}
.news-background{
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-blog .card{
     border-radius: 0;
    border: 0;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 55%), 0 2px 6px 0 rgb(206 206 238 / 44%);
}
.light-color{
    color: #797979;
}
.letter{
   background: #071F40;
    padding: 50px 0;
    color: #fff;
}
.letter input{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 5px 25px;
    background-color: #ffffff;
    margin-top: 15px;
    text-align: left;
}
.letter h1{
    font-size: 35px;
    font-weight: 700;
}
.letter p{
    color: #596B84;
    font-weight: 600;
}
.offer-color{
    color: #C29254;
}
.cta-button-news{
           position: absolute;
    top: 15px;
    right: 12px;
}
.cta-button-news a{
        display: inline-block;
    padding: 13px 45px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0px 8px 8px 0;
    line-height: 32px;
}
.cta-button-news a:hover{
    color: #fff;
}
footer{
    padding: 30px 0 20px;
    background: #EEEEEE;
}
.logo-footer{
    /*margin-bottom: 35px;*/
}
.logo-footer img{
    width: 115px;

}
.footer-info p{
    margin-bottom: 1.2rem;
    line-height: 25px;
    font-size: 15px;
}
.widget_menu{
    float: left;
    width: 100%;
}
.widget_menu h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}
.widget_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget_menu ul li {
    float: left;
    width: 100%;
}
.widget_menu ul li a {
    font-size: 15px;
    color: #000;
    margin-bottom: 0;
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: none;
    /*font-size: 15px;*/
}
.install-detail{
    float: left;
    width: 100%;
}
.install-detail h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
}
.install-detail p{
    font-size: 15px;
    color: #000;
    margin-bottom: 0;
    float: left;
    width: 100%;
    margin-top: 5px;
    text-decoration: none;
}
.platform{
   border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 2px;
}
.platform img{
    width: 100%;
}
/*.cpy_{
    background: #222;
    text-align: center;
    padding: 20px 0;
}*/
.cpy_ p {
    margin: 0;
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    /*color: #000;*/
}
/* Mobile navigation */

 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: #000;
     height: 50px;
     width: 50px;
}

 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }
    body{
     overflow-x: hidden!important;
}
  
    .additional{
    display: none;
}
    .hide-on-mobile{
        display: none;
    }
    .search-box{
        display: none;
    }
    .footer-info{
        margin-bottom: 45px;
    }.install-detail{
        margin-top: 40px;
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .platform{
        margin-bottom: 15px;
    }
    .img-box{
        display: none;
    }
    .show-on-mobile{
        display: block!important;
    }
    .hide-on-desktop{
        display: block;
    }
    .mobile-edit{
        display: flex!important;
        margin-left: 20px;
    }
   .brand img {
    width: 95px;
    position: relative;
    bottom: 15px;
}
    .nav-container{
        display: block;
    }
}
 @media screen and (min-width:800px) {
     .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
    position: absolute;
    left: 11px;
    top: 13px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
.margin-top-bottom{
    margin: 100px auto;
 }
 .contact-form textarea{
    outline: none;
    
    padding: 15px;
    border: 1px solid #e5e6e9;
 }
.contact-form textarea::placeholder{
    color:#a1a1a1 ;
    font-size: 13px;
}
.contact-form input[type=text]{
    outline: none; 
    padding: 15px;
    border: 1px solid #e5e6e9;
}
.contact-form input[type=text]::placeholder{
     color:#a1a1a1 ;
    font-size: 13px;
}
.contact-form input[type=email]{
    outline: none; 
    padding: 15px;
    border: 1px solid #e5e6e9;
}
.contact-form input[type=email]::placeholder{
     color:#a1a1a1 ;
    font-size: 13px;
}
.contact-title h2{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}
.more-contact-info img{
    width: 25px;
}
.right-icon-text h4{
    font-size: 16px;
    margin-bottom: 0;
    color: #2a2a2a;
}
.right-icon-text p{
    color: #8a8a8a;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
}


/*--------single product details---------*/
.single-product{
    margin-top: 80px;
}
.single-product  img{
    padding: 0;
}
.single-product{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid var(--primary);
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: var(--primary);
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product-details h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.single-product-details h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product-details select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--primary);
    outline: none;
}
.single-product-details input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid var(--primary);
}
.black-overlay{
    height: 100vh;
    width: 100%;
    background: #000;
    position: fixed;
    opacity: 0.5;
    top: 0;
    z-index: 99;
    /*display: none;*/
}


.hide-on-desktop{display: none;}




